.comments {
  border: 1px solid #dee2e6;
  font-family: "Segoe UI";
  background-color: #343a40;
  color: white;
}

.comments > div {
  padding: 10px;
}

.comments__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comments__header {
  grid-column: 1/3;
  font-weight: bold;
  border: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
  font-size: larger;
}

.comments__nameEmail {
  grid-column: 1/3;
}

.comments__body {
  grid-column: 1/3;
  padding: 15px 0;
}

.comments__createdAt {
  grid-column: 1/3;
  font-style: italic;
  font-size: smaller;
}
