.create-post {
  background-color: #343a40;
}

.create-post__form {
  margin: auto;
  max-width: 50%;
  padding: 2rem;
  background-color: #343a40;
  color: white;
  font-family: "Segoe UI";
  min-width: 300px;
}

.createpost__errormessage {
  color: red;
}

.create-post__buttons {
  min-width: 300px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
}
