//grid container styles
.detail-view {
  border: 1px solid #dee2e6;
  font-family: "Segoe UI";
  background-color: #343a40;
  color: white;
  display: grid;
  grid-template-columns: 1fr 12fr;
  grid-template-rows: 3fr 0.5fr 2fr 0.5fr;
}

.detail-view > div {
  padding: 10px;
}

//styles for message grid
.detail-view__name-email {
  grid-column: 2/3;
  padding-top: 50px;
  margin: auto 0;
}

.detail-view__image {
  grid-column: 1/2;
  padding: 10px;
}

.detail-view__title {
  grid-column: 1/3;
  font-weight: bold;
}

.detail-view__body {
  grid-column: 1/3;
  font-size: larger;
}

.detail-view__createdAt {
  grid-column: 1/3;
  font-size: smaller;
}

.detail-view__name {
  font-weight: bold;
}

.detail-view__email {
  font-size: smaller;
}
