//grid container styles
.messageContainer {
  border: 1px solid #dee2e6;
  font-family: "Segoe UI";
  background-color: #343a40;
  color: white;
  display: grid;
  grid-template-columns: 1fr 12fr;
  grid-template-rows: 3fr 0.5fr 2fr 0.5fr;
}

.messageContainer > div {
  padding: 10px;
}

//styles for message grid
.nameEmail {
  grid-column: 2/3;
  padding-top: 50px;
  margin: auto 0;
}

.text {
  font-weight: bold;
}

.image {
  grid-column: 1/2;
  padding: 10px;
}

.title {
  grid-column: 1/3;
  font-weight: bold;
}

.body {
  grid-column: 1/3;
  font-size: larger;
}

.createdAt {
  grid-column: 1/3;
  font-size: smaller;
}

.name {
  font-weight: bold;
}

.email {
  font-size: smaller;
}
