@use 'App';

.closeMessageBar {
  background-color: App.$background-primary;
  color: App.$text-color;
  padding: 20px;
  text-align: center;
  border: 1px solid #dee2e6;
  font-weight: bold;
  cursor: pointer;
}

.closeMessageBar:hover {
  background-color: #b9bbbe;
}

.home__table-row {
  cursor: pointer;
}
